body{
    margin: 0;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.custom-box{
    max-width: 700px;
    background-color: #A93226;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;

}

.home-box h3{
color: #ffffff;
font-size: 18px;
font-weight: 500;
margin-bottom: 15px;
line-height: 25px;

}

h2{
    color: #000000;
    text-align: center;
    }

.home-box p{
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 400;
    }

.home-box p span{
        font-weight: 500;
        }

.home-box .btn{
margin-top: 20px;
        }
.btn{
    padding: 15px;
    background-color: #80716f ;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    cursor: pointer;
}